.videos {
    display:flex;
    justify-content: center;
    margin:70px;
    .videos-left {
        display:flex;
        width:80%;
        margin-left: 20px;
        flex-direction: column;
        .videos-title {
            font-size: 20px;
            font-weight: bold;
        }
    }
}